<!DOCTYPE html>
<html>
  <head>
    <%- include( '../../layout/head.ejs' ) %>
  </head>
  <body>
    <header>
      <h1>Book App</h1>
      <%- include( '../../layout/header.ejs' ) %>
    </header>
    <main>
      <div>
        <h2>Search Here for Your Favorite Books and Authors</h2>
      </div>
      <article>
        <form action='/searches' method='post' >
          <fieldset class="search_form">
            <input type="text" name="search" placeholder= "enter a title or author" required>
          </fieldset>
          <fieldset class="search_form">
            <label for = "title">
              <span> title </span>
              <input class="inline_input" type=radio name=search value=title required>
          
            </label>
          </fieldset>

          <fieldset class="search_form">
            <label for = "author"></label>
            <span> author </span>
              <input class="inline_input" type=radio name=search value=author required>
            </label>
          </fieldset>
            <div><button id="search_button" type="submit">
              Search the google books api
            </button></div>
        </form>
      </article>
    </main>
    <footer>
      <%- include( '../../layout/footer.ejs' ) %>
    </footer>
  </body>
</html>