<!DOCTYPE html>
<html>
  <head>
    <title>Book App</title>
    <link rel="stylesheet" href="base.css">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  </head>
  <body>
    <header>
      <h1>Book App - All your favorite books in one place</h1>
    </header>
    <main>
      <a href="/search">search for books</a>
      <h3>Your Bookshelf</h3>
    </main>
  </body>
</html>