body {
  width: 479px;
  display: grid;
  grid-template-rows: 75px, 1fr;
  grid-template-columns: 1fr;
}

header {
  height: 75px;
  grid-row: 1;
  display: flex;
  justify-content: space-between;
  align-items: center; 
}

main {
  grid-row: 2;
}

div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.books {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px; 
} 

button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.book_image {
  display: block; 
  margin-left: auto; 
  margin-right: auto;
  margin-top: 30px;
}

.drop_image {
  display: block;
}

article {
  margin-left: auto; 
  margin-right: auto;
  padding-top: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
}

input {
  display: block;
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
 span {
   margin-left: 10px;
 }

 #UD_ID {
   padding-left: 12px;
   padding-bottom: 20px;
 }

 .inline_input {
   display: inline;
 }

 .search_form {
   padding-left: 100px;
 }


@media only screen and (min-width: 480px) {

  body {
    width: 767px;
  }

  input {
    display: block;
    width: 400px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
  }
   span {
     margin-left: 30px;
   }
  
   #UD_ID {
     padding-left: 12px;
     padding-bottom: 20px;
   }
  
   .inline_input {
     display: inline;
   }
  
   .search_form {
     padding-left: 170px;
   }
}

@media only screen and (min-width: 768px) {
  body {
    width: 960px;
  }
  input {
    display: block;
    width: 400px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 140px;
  }
   span {
     margin-left: 130px;
   }
  
   #UD_ID {
     padding-left: 12px;
     padding-bottom: 20px;
   }
  
   .inline_input {
     display: inline;
   }
  
   .search_form {
     padding-left: 150px;
   }
}

@media only screen and (min-width: 960px) {
  body {
    width: 1300px;
  }
  input {
    display: block;
    width: 400px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 190px;
  }
   span {
     margin-left: 180px;
   }
  
   #UD_ID {
     padding-bottom: 20px;
   }
  
   .inline_input {
     display: inline;
   }
  
   .search_form {
     padding-left: 260px;
  }
}