body {
  background-color: gray;
}

header {
  background-color: black;
  color: white;
  padding: 10px;

}
h1 {
  font-size: 1.2em;
}

section {
  background-color: darkgray;
  color: white;

}

.drop_img {
  width: 50px;
}

button {
  background-color: black;
  color: white;
  width: 100px;
  height: 50px;
  border-radius: 10px
}

button a {
  color: white;
  text-decoration: none;
  font-size: .9em;
}

a {
  color: black;
  text-decoration: none;
  font-size: 1em;
}

.search {
  background-color: rgb(83, 83, 83);
  color: black;
  text-decoration: none;
  font-size: 1.2em;
  height: 50px;
}

.book_list{
  background-color: rgb(190, 190, 190);
  width: 300px;
}

#search_button {
  background-color: black;
  color: white;
  width: 200px;
  height: 40px;
  border-radius: 10px
}




@media only screen and (min-width: 480px) {
  body {
    width: 767px;
    background-color: gray;
  }
  header {
    background-color: black;
    color: white;
    padding: 10px;
  }
  .book_list{
    background-color: rgb(190, 190, 190);
    width: 500px;
  }
}
@media only screen and (min-width: 768px) {
  body {
    width: 960px;
    background-color: gray;
  }
  header {
    background-color: black;
    color: white;
    padding: 10px;
  }
  .book_list{
    background-color: rgb(190, 190, 190);
    width: 700px;
  }
}

@media only screen and (min-width: 960px) {
  body {
    width: 1300px;
    background-color: gray;
  }
  header {
    background-color: black;
    color: white;
    padding: 10px;
  }
  .book_list{
    background-color: rgb(190, 190, 190);
    width: 800px;
  }
}