<nav class="dropdown">
  <a href="/">
  <img class="drop_img" src="../img/hamburger-menu.png">
  </a>  
  <!-- <article class="dropdown-content">
    <a href="index.ejs">Bookshelf</a>
    <a href="searches/new.ejs">Search for Books</a>
  </article> -->
</nav>